.tab-list { 
    border-bottom: 1px solid rgba(129, 129, 129, 0.164);
    text-align: center;
    padding: 0;
    min-width: 1060px;
    overflow: hidden;
    height: 75px;
    width: 100%;
  }
  
.tab-list-item {
    display: inline-block;
    list-style: none;
    font-weight: 500;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.950);
    margin-top: 25px;
    padding: 0.8rem 1.0rem;
    cursor: pointer;
  }
  
.tab-list-active {
    color: #F7AE24;
    border-bottom: 3px solid #F7AE24;
  }

 /* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F7AE24;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f7ad24c0
}

