.home {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 78.125vw;
    min-width: 1018px;
    width: 100%;
}

.home__container {
    display: flex;
    flex-wrap: wrap;
}



